# Please try and keep this file organized by alphabetical order. Single files first, then directories.
.env
.phpunit.result.cache
Homestead.yaml
Homestead.json
/config/lfm.php
/nbproject/*
/node_modules
/public/storage
/public/error_log
/public/lb-faveo/media/
/public/uploads
/public/photos/
/app/FaveoJob
/vendor
/storage/app/attachments
/storage/*.key
